@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap');
*{
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
}

a{
  display: inline-block;
  text-decoration: none;
}
  
p{
  color:#A4907C;  
  font-size: 18px;
  text-align: justify;
}

header{
  padding: 0px 0 ;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%; 
  z-index: 2;
  background-color: #C8B6A6;
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

header .container .logo{
  margin: 10px;
  width: 120px;
}

header .container nav a{
  color: #8D7B68;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bolder;
  font-size: 18px;
}

h2{
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  color: #8D7B68;
  margin-top: 0;
}

footer.seccion{
  position:relative;
  background-color: #C8B6A6;
  color: #8D7B68;
  padding-bottom: 0;
  top: 120px;
}

footer .barra-footer{
  background-color: #A4907C;
  color: white;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top:  20px;
  padding-bottom: 20px;
}

footer .logo-footer{
  width: 150px;
  padding: 0px;
  margin-left: 30px;
}

footer ul{
  padding-left: 0;
  list-style: none;
  margin: 0;
}

footer ul li{
  margin-bottom: 10px;
  color: #8D7B68;
}

 footer a{
  color: #8D7B68;
 }

 footer .redes{
  font-size: 25px;
  display: flex;
 } 

 footer .redes a{
  margin: 0 7.5px;
 } 

.boton{
  text-align: center;
  text-decoration: none;
  padding: 15px 20px;
  border: none;
}

.boton.boton-cafe{
  color: white;
  background-color: #8D7B68;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
}

.boton.boton-blanco{
  display: flex;
  background-color: #C8B6A6;
  color: #8D7B68;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 20px;
  justify-content: center;
  
}

.boton.boton-negro{
  color: white;
  background-color: black;
  font-size: 20px;
  font-weight: bold;
}

.boton.boton-negro:hover{
  color: black;
  background-color: white;
  
}

.seccion{
  padding-top: 60px;
  padding-bottom: 60px;
}

.cuadrado-perfecto{
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}

.cuadrado-perfecto img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.container{
  width: 100%;
  margin: 0 auto 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}

.container-fluid{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}

 .row{
  display: flex;
  flex-wrap: wrap;
  margin-left: 0px;
  margin-right: -15px;
}  

.columna{
  padding-right: 15px;
  padding-left: 15px;
}

.columna-25{
  width: 25%;
}

.columna-33{
  width: 33%;
}

.columna-41{
  width: 41.66%;
}

.columna-50{
  width: 50%;
}

.empujar-50{
  margin-left: 50%;
}

.empujar-58{
  margin-left: 58.3%;
}

.empujar-66{
  margin-left: 66%;
}
.empujar-0{
  margin-left: 0;
}
.video-container{
display: flex;
justify-content: center;
text-align: justify;
left: -15px;
}
.documental{
margin: 25px;
width: 100vh;
}
.doc-text{
  margin: 30px;
}
.cafetero{
  margin: 30px;
}

/* Productos */

.card-container{
  display: grid;
  grid-template-columns:repeat(auto-fill, 400px);
  gap: 26px;
  place-content:center;
}
.product-card{
  width: 400px;
}
.product-card img{
  width: 400px;
  height: 400px;
  border-radius: 20px;
  object-fit: cover;
}
.product-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.product-info figure {
  margin: 0;
}
.product-info figure img{
  margin: 0;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.product-info div p:nth-child(1){
  font-weight: bold;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 4px;
}
.product-info div p:nth-child(2){
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  color: #8D7B68;
}
.product-titles{
  margin: 40px;
  font-style: italic;
  font-weight: bolder;
}

#inicio{
  position: relative;
}

#inicio img{
  width: 100%;
  display: block;
}

#inicio .bloque-inicio{
  position: absolute;
  top: 40%;
  left: 50%;
  width: 400px;
  text-align: center;
  margin-left: -200px;
}

#inicio .bloque-inicio h1{
  color: white;
  font-size: 50px;
}

#inicio .bloque-inicio p{
  color: white;
  font-size: 16px;
}

#nosotros{
  background-image: url(../assets/granos.jpeg);
  background-size: cover;
}

#nosotros p{
  color: white;
  text-align: center;
  font-size: 20px;
  font-style:italic ;
  font-weight: bold;
}

#servicios .bloque-servicio{
  border: 1px solid transparent;
}

#servicios .bloque-servicio .bloque-img-servicio img{
  width: 100%;
}

#servicios .bloque-servicio .bloque-img-servicio.cuadrado-perfecto{
  padding-bottom: 56.25%;
}

#servicios .bloque-servicio .bloque-contenido-servicio{
  padding: 15px;
}

#servicios .bloque-servicio .bloque-contenido-servicio h3{
  margin-top: 0;
  font-size: 25px;
  color: #8D7B68;
  text-align: center;
}

#galeria h4{
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  position: absolute;
  top: 40% ;
  color: white;
  font-size: 18px;
  width: 100%;
}

#galeria img{
  padding: 10px;
}

#galeria .cuadrado-perfecto:hover h4{
  display: none;
}

#contactenos{
  position: relative;
}
#contactenos iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 121%
}

#contactenos form{
  margin-top:  70px;
  padding: 60px;
  background-color: #8D7B68;
}

#contactenos form .form-block {
  width: 100%;
  margin-bottom: 15px;
}

#contactenos form .form-block .form-control {
  display: block;
  width: 100%;
  height: 40px;
  font-size: 16px;
  border: 1px solid grey;
  padding: 5px 10px;
}

#contactenos form .form-block textarea {
  display: block;
  width: 100%;
  height: 100px;
  font-size: 16px;
  border: 1px solid grey;
  padding: 5px 10px;
} 

#contactenos form .form-block.bloque-ultimo {
 margin-bottom: 0;
}

/* slider */
  
.slider {
  width: 350%;
  height: 500px;
  overflow: hidden;
  position: relative;
  margin: 30px;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  transition: opacity 1s ease-in-out;
}

.slider img:not(:first-child) {
  opacity: 0;
}

@keyframes slide {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  53.33% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.slider img:nth-child(1) {
  animation: slide 9s infinite;
}

.slider img:nth-child(2) {
  animation: slide 9s infinite 3s;
}

.slider img:nth-child(3) {
  animation: slide 9s infinite 6s;
}
