/* slider NOSOTROS */
  
.slider {
  width: 350%;
  height: 500px;
  overflow: hidden;
  position: relative;
  margin: 30px;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  transition: opacity 1s ease-in-out;
}

.slider img:not(:first-child) {
  opacity: 0;
}

@keyframes slide {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  53.33% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.slider img:nth-child(1) {
  animation: slide 9s infinite;
}

.slider img:nth-child(2) {
  animation: slide 9s infinite 3s;
}

.slider img:nth-child(3) {
  animation: slide 9s infinite 6s;
}